//Colors
$primary: #faed00;
$primary-hover:#d6d31f;
$secondary:#F8F8F8;
$pure:#fff;
$dark:#232323;
$gray:#ccc;
$myred:#e72124;
$myred-hover:rgb(184, 12, 12);
//Transition
$smooth:all  .3s ease-in-out;
