@import './variables';
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothening:antialiased;
    color: $dark;
    
}
nav li a:hover{
    transition:$smooth;
    color:red;
}
nav li:last-child a{
    background: $primary;
    margin-right: 80px;
    
}
nav li:last-child img{
    width: 40px;
    
}
nav li:last-child a:hover{
   background-color: rgb(32, 230, 32);
}
#logo {
    padding-top: 15px;
    width: 240px;
    height: 202px;
    margin: -59px 0px;
}
#container{
    background: yellow;
  
}
#chefImg{
    width: 315px;
}
#sectionContainer{
    padding-left: 243px;
  
}
#heroText{
    margin-right: 505px;
    margin-left: -138px;
    
}
section.hero{
    background: $secondary;
}
#collectionHeading{
    margin-left: 40%;
}
.add-to-cart{
    border: 2px solid $myred;
    color: $myred;
    transition: $smooth;
}
.add-to-cart:hover{
   background: $myred;
   border-color:$pure ;
   color: $pure;
}
#itemsContainer{
    margin-left: 73px;
}
#items{
    width: 100%;
    height: 73%;
}
.btn-primary{
    background: $myred;
    transition: $smooth;
}
.btn-primary:hover{
    background: $myred;
    background: $myred-hover;
}
section.cart{
    background: $secondary;
    .amount{
        color: $myred;
    }
}
section.login {
    background: $secondary;
    min-height: calc(100vh - 86px);
    a {
        color: $myred;
        &:hover {
            color: $myred-hover;
        }
    }
}