@import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothening:antialiased;
    color: $dark;
    
}
nav li a:hover{
    transition:$smooth;
    color:red;
}
nav li:last-child a{
    background: red;
    margin-right: 20px;
    
}
nav li:last-child img{
    width: 40px;
    
}
nav li:last-child a:hover{
   background-color: $myred-hover;
}
#logo { 
    padding-top: 33px;
    width: 615px;
    height: 336px;
    margin: 0px -78px;
}

#container{
  
    height: 116px;
}
#chefImg{
    width: 434px;
    height: 422px;
    
}
#sectionContainer{
    padding-left: 243px;
  
}

#heroText{
    margin-right: 505px;
    margin-left: -138px;
    
}
section.hero{
    background: $secondary;
}
.menu{
    margin-right: 152px;
}
#collectionHeading {
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    font-size: 48px;
    margin: 33px 0px;
    font-family: cursive;
    color: $myred;
}
.add-to-cart{
    border: 2px solid $myred;
    color: $myred;
    transition: $smooth;
    &:focus{
        outline: none;
    }
}
.add-to-cart:hover{
   background: $myred;
   border-color:$pure ;
   color: $pure;
}
#itemsContainer{
    margin-left: 73px;
}
#items{
    width: 100%;
    height: 73%;
}
.btn-primary{
    background: $myred;
    transition: $smooth;
}
.btn-primary:hover{
    background: $myred;
    background: $myred-hover;
}
section.cart{
    background: $secondary;
    .amount{
        color: $myred;
    }
}
section.login {
    background: $secondary;
    min-height: calc(100vh - 86px);
    a {
        color: $myred;
        &:hover {
            color: $myred-hover;
        }
    }
}
.noty_theme__mint{
    border-radius: 50px!important;
    padding-left: 8px!important;
}
a.link{
    color:$myred;
}
section.status{
    background: $secondary;
    min-height: calc(100vh - 140px);
}
.status-box{
    padding: 60px 0 0;
}
.status-box ul {
    margin-left: 84px;
}
.status-box ul li span {
    position: relative;
    padding-left: 20px;
}

// Dots
.status-box ul li span:after {
    content: '';
    position: absolute;
    left: -10px;
    top:50%;
    background: $dark;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow:0 0 1px 10px $secondary;
}
// Icons
.status-box ul li span:before{
    font-family: "Line Awesome Free";
    font-size: 46px;
    font-weight: 600;
    position: absolute;
    left: -90px;
    top: 50%;
    transform: translateY(-50%);
    color: inherit;
}
.status-box ul li:nth-child(1) span:before {
    content: '\f46c';
}

.status-box ul li:nth-child(2) span:before {
    content: '\f560';
}

.status-box ul li:nth-child(3) span:before {
    content: '\f818';
}

.status-box ul li:nth-child(4) span:before {
    content: '\f0d1';
}

.status-box ul li:nth-child(5) span:before {
    content: '\f582';
}
.status-box ul li {
    position: relative;
}
// Line
.status-box ul li:before {
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    width: 2px;
    height: 100%;
    background: $dark;
    margin-top: 10px;
 }
 // Last dot
.status-box ul li:nth-child(5) span:after {
    box-shadow:0 20px 1px 20px $secondary;
}
// line
.status-box ul li.step-completed:before {
    background: $gray;
}
// dots
.status-box ul li.step-completed span:after {
    background: $gray;
}
// text
.status-box ul li.step-completed span {
    color: $gray;
}
// Current status
.status-box ul li.current span {
    color: $myred;
}
.status-box ul li.current span:after {
    background: $myred;
}
.status-box ul li small {
    float: right;
    font-size: 14px;
    margin-top: 4px;
}
//Media queries

@media(max-width:1300px) {
    
    table {
       display: block;
       overflow-x: auto;
       white-space: nowrap;
    }
}

@media(max-width:1027px) {
    
    #chefImg{
        display: none;
    }
    
    #heroText {
        text-align: center;
        margin-right: 505px;
        margin-left: 69px;
    }
    #dontWait{
        font-size: 4.75rem;
    }
}
@media(max-width: 769px) {
    .status-box ul li span:before {
        font-size: 34px;
    }
    #sectionContainer{
        display: none;
    }
    #cartCounter{
        padding-right: 3px;
    }
}
@media(max-width: 764px) {
    #collectionHeading {
        align-items: center;
        justify-content: center;
        width: 100%;
        display: flex;
        font-size: 48px;
        margin: 33px 0px;
        font-family: cursive;
        color: #e72124;
        margin-left: 64px;
    }
    #items {
        margin-left: 91px;
        width: 76%;
        height: 73%;
    }
    #itemName{
        margin-left: 42px;
    }
    .add-to-cart {
        border: 2px solid #e72124;
        color: #e72124;
        transition: all 0.3s ease-in-out;
        margin-right: -60px;
    }
}
@media(max-width:644px){
    .status-box{
        width: 80%;
    }
}


@media(max-width:644px) {
    #container{
        width: 90%;
    }
    #logo {
        padding-top: 33px;
        width: 615px;
        height: 336px;
        margin: 2px -54px;
    }
    #cartCounter{
        padding-right: 0px;
    }
    nav li:last-child img {
        width: 51px;
        margin: 4px;
    }
  
}
@media(max-width: 558px){
    
    #logo {
        padding-top: 33px;
        width: 615px;
        height: 336px;
        margin: 2px -43px;
    }
}
@media(max-width: 494px){
    
    #logo {
        padding-top: 24px;
        width: 615px;
        height: 250px;
        margin: 1px -28px;
    }
}
@media(max-width: 475px){
    #cartItemImage{
        width: 80px;
    }
}
@media(max-width: 475px){
    
    #collectionHeading {
        align-items: center;
        justify-content: center;
        width: 100%;
        display: flex;
        font-size: 28px;
        margin: 33px 0px;
        font-family: cursive;
        color: #e72124;
        margin-left: 21px;
    }
    #items {
        margin-left: 80px;
        width: 54%;
        height: 68%;
    }
    .add-to-cart {
        border: 2px solid #e72124;
        color: #e72124;
        transition: all 0.3s ease-in-out;
        margin-right: 8px;
    }
}
@media(max-width: 390px){
    
    #logo {
        padding-top: 24px;
        width: 615px;
        height: 220px;
        margin: 1px -10px;
    }
}